/* The Modal (background) */
.paylater_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.paylater_modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

/* The Close Button */
#paylater_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#paylater_close:hover,
#paylater_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .paylater_modal-content {
    width: 60%;
    margin: 10% auto;
  }
}

@media only screen and (min-width: 1200px) {
  .paylater_modal-content {
    width: 50%;
  }
}

#iframe-pagantis {
  border: none !important;
}
